pip==22.1.2
kaggle==1.5.12
omegaconf==2.2.2
hydra-core==1.2.0
scikit-learn==1.0.2
transformers==4.30.0
datasets==2.1.0
sentencepiece==0.1.96
pytorch-lightning==1.6.2
pytorch-pfn-extras==0.5.8
lightgbm==3.3.2
catboost==1.0.4
optuna==2.10.0
kaleido==0.2.1
seaborn==0.11.2
shap==0.40.0
iterative-stratification==0.1.7
python-box==6.0.1
pydot==1.4.2
autopep8==1.6.0
black==22.1.0
mlflow==2.3.1
adabelief-pytorch==0.2.1